:root{
--cor1:#c4a47c; 
--cor2:#fff;
--cor3:#000000;
--cor4:#604829;
--cor5:#666;
--cor6:#ACACAC;

--font1: font-family: 'Fraunces', serif;
--font2: font-family: 'Fraunces', serif;
--font3: font-family: 'Lato', sans-serif;
}